*
    margin 0
    padding 0
    

html,body
    position relative
    top 0
    left 0
    width 100%
    height 100%
    overflow hidden
    font-family 'Montserrat', sans-serif
    user-select none
    color white
.container-intro
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background black
    animation appear 2s ease 1s 1 reverse forwards
    opacity 1
    z-index 1
    will-change opacity 

.container-home
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    display flex
    justify-content center
    align-items center
    flex-flow column nowrap
    z-index 2
    transition 0.2s ease all

$keyframe-name = appear
@keyframes {$keyframe-name}
  for i in 0..10
    {10% * i}
      opacity (i/10)

.introduction
    display flex
    justify-content center
    align-items center
    flex-flow column nowrap
    z-index 3
    transition 1s ease opacity

.title
    font-size 2.2em 
    font-weight 700


.subtitle
    font-size 1em 
    font-weight 500

.hide
    position fixed
    opacity 0
    z-index -1
.show
    position relative
    opacity 1
    z-index 2

.projects
    position absolute
    top 50px 
    left 50px 
    font-weight 500
    cursor pointer
    transition 1s ease all

.link-container
    position absolute
    bottom 50px
    left 50%
    transform translateX(-50%)
    width 60%
    height auto
    display flex
    justify-content space-around
    align-items center
    flex-flow row nowrap
    z-index 2
    overflow hidden

.container-projects
    display none
    justify-content center
    align-items center
    flex-flow column nowrap
    z-index 3
    transition 1s ease opacity

.link-p
    text-decoration none
    font-size 1.8em 
    font-weight 500
    color white
    text-align center
    margin-top 10px

.link-p-view
    margin-bottom 10px

.link-p:visited
    color white

.link
    text-decoration none
    font-size 1em 
    font-weight 500
    color white

.link:visited
    color white

.cvdiv
    position absolute
    top 50px 
    right 50px 
    font-weight 300
    z-index 2
.projects-container
    position absolute
    top 0
    left 0 
    right 0 
    bottom 0 
    padding: 0 10%
    display none

.projects-inside-ctn
    width 100% 
    height 100vh
    padding 100px 0
    animation appear 1s ease 0s 1 backwards normal

.project
    width 60%
    color white
    display flex 
    justify-content center 
    flex-flow column nowrap
    align-items flex-start
    transform matrix(1, 0.02, 0, 0.9, 0, 0);
    animation appear-text 1s ease-in-out 0s 1 forwards normal
.date
    font-weight 500 
    font-size 1.1em
.project-title
    font-weight 700
    margin-top -10px
    margin-left -5px
    font-size 5em
.project-paragraph
    font-size 1.1em
    font-weight 300 

@keyframes appear {
    0%{
    transform: translateY(100%)    
    }
    100%{
    transform: translateY(0%)    
    }
}

@keyframes appear-text {
    0%{
    transform matrix(1, 0.1, 0, 0.8, 0, 0);   
    }
    100%{
    transform matrix(1, 0, 0, 1, 0, 0);   
    }
}
  @media (max-width: 500px)
    .link-container
        width 90%

    .projects
        top 20px 
        left 20px 